<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Search by title or author </h2>
    <form action="/book" method="POST">
        <label for="search">
            <input type="text" name="search"  placeholder="Search by Title or by author " >
        </label>

        <label for="title">
            <span>Title</span>
            <input type="radio" name="term" value="title" >
        </label>
        <label for="author">
            <span>Author</span>
            <input type="radio" name="term" value="author" >
        </label>

        <button type="submit">Search for Book</button>

    </form>
    
</body>
</html>