body {
    text-align: center;
}

header{
    padding: 5% 0 ;
    background-color: rgba(49, 78, 82,.6);
    color : #fff;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
 }

 .container div{
    padding:  3% 10%;
    border:  5px solid #fff;
 }